.navigation {
  position: absolute;
  width: 100vw;
  height: 88px;
  left: 0px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 10px;
}

.plusstyle {
  background-color: hotpink;
  border-radius: 50%;
}

.homeindicator {
  position: absolute;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 + 0.5px);
  bottom: 10px;
  background: #ffffff;
  border-radius: 100px;
}
