.header {
  height: 44px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  gap: 10px;
}

.header__fix {
  position: fixed;
}

.header__clock {
  position: absolute;
  left: 21px;
}

/* in case we need to determine distance individually
header__network {
    position: absolute;
    left: 336px;
   
  }

  header__wifi {
    position: absolute;
    left: 316px;
   
  }

  header__battery {
    position: absolute;
    right: 21px;
   
  }

 */
