.header {
  height: 44px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  font-size: 15px;
}

.header__fix {
  position: fixed;
}

.header__clock {
  position: absolute;
  left: 25px;
}

.header__icon {
  width: 18px;
  height: 18px;
}
