.newsfeed {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  border-bottom: solid #323436 1px;
  overflow-x: auto;
}

.newsfeed__element {
  position: relative;
  height: 160px;
  margin-left: 10px;
}

.newsfeed__image {
  width: 100px;
  height: 140px;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 91.43%
    ),
    url(.jpg);
  position: relative;
}

.newsfeed__profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: hotpink solid;
  position: relative;
  bottom: 55px;
  left: 30px;
}
