.card {
  border-bottom: solid #323436 1px;
  padding: 20px;
}

.post {
  display: flex;

  position: relative;
}

.post__profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.post__name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  color: #ecebed;
  position: absolute;
  left: 40px;
  top: -11px;
}

.post__time {
  font-size: 12px;
  font-weight: 200;
  color: #727477;
  line-height: 16px;
  position: absolute;
  left: 40px;
  top: 19px;
}

.post__text {
  font-weight: 200;
  font-size: 16px;
  line-height: 30px;
}

.post__menu-icon {
  position: absolute;
  right: 15px;
  top: 10px;
}

.post__reactions_nav {
  display: flex;
  gap: 25px;
  padding-left: 15px;
  position: relative;
}

.post__reactions--icons {
  font-size: 12px;
  font-weight: 300;
  }

.post__reactions--counter {
  padding-left: 5px;
}

.post__reactions--bookmark {
  position: absolute;
  right: 10px;
}

.post__content__image {
  width: 327px;
  height: 180px;
  border-radius: 16px;
  overflow-x: scroll;
  margin: 20px 0 15px 0;
}
